.header {
    
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 50px;
    background: rgb(0, 0, 0);
  }
  
  .header-top {
    display: flex;
    width: 100%;
    height: 80px;
    background: rgb(0, 0, 0);
    color:black;

  }
  
  .header-top__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    color:#fff;
  }
  
  .header-logo {
    color: inherit;
    text-decoration: inherit;
    font-family: RobotoThin;
    font-size: 60px;
  }
  
  .header-top__navbar {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  
  
  
  .header-top__navigation {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 55px;
  }
  
  .header-bottom {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    margin-top: 6px;
  }
  
  
  
  
.navbar {
  display: flex;
  flex-direction: row;
  color:black;
}

.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  color: inherit;
  text-decoration: inherit;
  text-transform: uppercase;
  outline: none;
  font-size: 17px;
  color:#fff;
}

            